streamlit
gradio>=6.10.0
streamlit-aggrid>=1.2.1.post2
altair<6
langchain
langgraph
protobuf==3.20
langchain-core
langchain-openai
langchain-anthropic
langchain-community
langchain-model-profiles
langchain-tavily
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-google-genai
langgraph-cli
langgraph-api
langsmith
tavily-python
tavily
ipykernel
pandas
python-dotenv
pypdf
ipywidgets
sounddevice
scipy
jupyterlab
matplotlib>=3.10.8
scikit-learn>=1.8.0
seaborn>=0.13.2
umap-learn>=0.5.11
plotly>=6.6.0

