[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/flavio/uv/perturb_agent/src/libs/MTD_lib.py
Type=Link
URL=file:///home/flavio/uv/perturb_agent/src/libs/MTD_lib.py
Icon=text-x-python
